:root {
	--clr-primary: #d50000;
	--clr-grey100: #f0f7f8;
	--clr-grey200: #cfd8dc;
	--clr-grey300: #a7b7be;
	--clr-grey400: #6b7e86;
	--clr-grey500: #425a65;

	--radius: 0.3rem;
	--padding: 1rem;
}
*{
  margin: 0;
  padding:0%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  font-size: 14px
}
p{
  font-size: .70rem
}

.recipes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
	margin: 2rem;
	grid-gap: 2rem;
	justify-content: center;
}

.recipe{
  display: flex;
	flex-direction: column;
	justify-content: space-between;
  transition: 200ms ease-in;
  
  overflow: hidden;
	box-shadow: 0 2px 20px var(--clr-grey300);
	border-radius: var(--radius);
	cursor: pointer;
}

.recipe--img{
  display: block;
	width: 100%;
	height: 14rem;
	object-fit: cover;
}
.recipe--title {
	padding: var(--padding);
	text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
.recipe--calory{
  padding: 0 var(--padding) var(--padding);
  text-align: center;
  font-size: 1rem;
}
.recipe:hover {
	transform: scale(1.01);
}

.form{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input, button{
  padding: .30rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

